{%extends 'base.html'%}

{%block body%}

<h2>Page-Reloads: {{reload_count}}</h2>

<div class="toast-container">
    
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}


        <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                {{message}}
             </div>
              <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>

        {% endfor %}
    {% endif %}
{% endwith %}

</div>


<form method="post">
    <!-- title -->
    <!-- description -->
    <!-- dueDate -->
    <!-- isDone -->

    {{form.csrf_token}}

    <div class="row mb-3">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            {{form.title()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            {{form.description()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="dueDate" class="col-sm-2 col-form-label">Due Date</label>
        <div class="col-sm-10">
            {{form.dueDate()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="isDone" class="col-sm-2 col-form-label">Is Done</label>
        <div class="col-sm-10">
            {{form.isDone()}}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>

<table class="table">
    <thead>
        <tr>
            <td scope="col">Item Id</td>
            <td scope="col">Title</td>
            <td scope="col">Description</td>
            <td scope="col">Due Date</td>
            <td scope="col">Is Done</td>
            <td scope="col">Actions</td>
        </tr>
    </thead>
    <tbody>
        {%for item in items:%}
            <tr>
                <td scope="row">{{item.itemId}}</td>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>{{item.dueDate}}</td>
                <td>{{item.isDone}}</td>
                <td>
                <form method="post" action="/items/delete">
                    {{form.csrf_token}}
                    <input type="hidden" id="itemId" name="itemId" value="{{item.itemId}}">
                    <button class="btn btn-danger" onclick="deleteItem(this); return false;">❌</button>
                </form>
                <button class="btn btn-info" 
                    onclick="window.location.href='/editForm?itemid={{item.itemId}}'">✏️</button>
                </td>
            </tr> 
        {%endfor%}
    </tbody>
</table>

{%endblock%}